@import "main";

*{
margin: 0 auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: url('/images/fondo.png');
    height: 100%;
}

